<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button (click)="getAccessToken()">Drive Login</ion-button>
    </ion-col>
    <ion-col>
      <asl-google-signin-button type='standard' size='medium' text='signin_with' shape='square' theme='outline'
        logo_alignment='center' width="250"></asl-google-signin-button>
    </ion-col>
  </ion-row>
</ion-grid>